/* Enter your custom CSS here */
.title {
  padding-top: 25px;
  font-weight: normal;
  font-size: 48px;
}

.sub-title {
  color: #f07c17;
  font-size: 24px;
  font-weight: bold;
}

.icon-img {
  margin-bottom: 40px;
}

.main-features {
  width: 100%;
  border: 1px solid #ccc;
}

.main-features-list-header {
  padding-left: 25px;
}

.left {
  margin-top: 11px;
}

.right {
  margin-top: -10px;
}

.p1 {
    padding-top: 30px;
}

body {
  color: #666;
  font-family: Verdana, sans-serif;
  font-weight: normal;
  font-size: 16px;
}

ul {
  font-weight: bold;
  font-size: 14px;
  padding-top: 23px;
  margin-left: 26px;
  line-height: 200%;  
}

p {
  line-height: 200%;
}